footer.footer.metadata
    - var themeUrl = 'https://github.com/lyndonoc/hexo-theme-pandollo';
    - var hexoURL = 'https://hexo.io/';
    - var githubPage = 'https://pages.github.com/';
    - var apolloURL = 'https://github.com/pinggod/hexo-theme-apollo';
    - var mail = 'contact@timbus.dev';
    - var year = new Date().getFullYear();
    p.footer__text © #{year} #{config.author}
    p.footer__text Powered by #[a(class='footer__text__link', href=hexoURL, target='_blank') Hexo] &amp; #[a(class='footer__text__link', href=githubPage, target='_blank') Github Page]
    p.footer__text Forked from #[a(class='footer__text__link', href=themeUrl, target='_blank') Pandollo theme]
    p.footer__text Call me, #[a(class='footer__text__link', href='mailto:'+mail, target='_blank') Mail me] if you wanna reach me
